
body
{
    font-family: "Roboto", "Open Sans", sans-serif;
}
.site-title a{
    font-weight: bold;
}

.site-header
{
    margin-bottom: 20px;
}
.card
{
    margin-top: 20px;
    width: 1200px;
    height: 520px;
    border: 1px solid black;
}
.card-date
{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 120%;
}
.upper-container, .under-container
{
    display: flex;
    flex-direction: row;
}
.upper-container
{
    display: flex;
    height: 260px;
    justify-content: center;
    align-items: center;
}
.under-container
{
    display: flex;
    height: 205px;
    justify-content: center;
    align-items: center;
}
.upper-left, .upper-right, .under-left, .under-right
{
    width: 588px;
}
.upper-left, .upper-right
{
    height: 240px;
}
.under-left, .under-right
{
    height: 185px;
}
.weather-img-container
{
    display: flex;
    flex-direction: row;
    width: 430px;
    height: 120px;
    justify-content: space-between;
}
.upper-weather
{
    margin-left: 10px;
    font-size: 200%;
}
.upper-other
{
    margin-left:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
}
.pop-vis, .wind-gusks
{
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-evenly;
    margin-left: 10px;
}
.sun-uv
{
    display: flex;
    flex-direction: row;
    height: 165px;
    width: 165px;
}
.sun-img-text
{
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}
.under-sunrise-sunset
{
    display: flex;
    flex-direction: column;
    width: 423px;
    height: 204px;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 20px;
}
.under-left
{
    display: flex;
}
.sun-img img
{
    width: 80%;
}
.uv-text
{
    margin-top: 15px;
}
.under-right
{
    display: flex;
    align-items: center;
}
.alerts-container
{
    height: 165px;
    width: 568;
    margin-left: 10px;
}
.alerts-info
{
    margin-top: 10px;
}
.upper-left, .under-left
{
    border-right: 1px solid black;
}
.upper-img img
{
    width: 150%;
}
.card-tomorrow
{
    font-size: 80%;
}
.under-sunset-info
{
    margin-bottom: 50px;
}
.card{
    border:none;
    box-shadow: 0px 14px 28px rgba(0,0,0,0.25), 0px 10px 10px rgba(0,0,0,0.22);
}
.head-city
{
    margin-top: 20px;
    text-align: center;
    font-size: 200%;
}
.head-title
{
    text-align: center;
}